body {
	font-size: 18pt;
	margin: 0;
	background-color: darkslategray;
	color: lightcyan;
}

body div p {
	display:inline-block;
	text-wrap: nowrap;
	font-size: 18pt;
	letter-spacing: 1px;
	line-height: 40px;
	margin: 0px;
	padding: 10%;
	text-align: left;
}

body canvas {
	display:block;
	margin: 200px;
	padding: 0px;
  }

h4,h4 a {
	font-size: 18pt;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 0px;
}

h4 a {
	cursor: default;
	color: white;
	padding:0;
}

h4 a:hover {
	color: wheat;
}

nav ul{
	background: wheat;
	margin: 0;
	float: right;
	width: 100%;
	display: inline-flex;
	list-style:none;
}

nav ul li{
	background: wheat;
	display: inline-flex;
	width: 100%;
	color: white;
	text-align: center;
}


nav ul li a, nav ul li span {
	background: wheat;
	font-size: 18pt;
	cursor: default;
	border-style: solid;
	border-color:rgba(0, 0, 0, 0.025);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
}

nav ul li span {
	background-color: rgba(0, 0, 0, 0.10);
	border-color:rgba(0, 0, 0, 0);
}

li a:hover {
	background-color: rgba(0, 0, 0, 0.05);
	border-color:rgba(255, 255, 255, 0.162);
  }

footer {
	font-size: 12pt;
	line-height: 30px;
	position:fixed;
	bottom: 0px;
	padding: 10px;
	height: 30px;
	background: black;
	width: 100%;
}


footer a {
	color: gold;
}
